name: ci
run-name: check and build flake

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: |
          find . -type f -name '*.nix' -exec nix fmt {} \;
          git diff --exit-code

  build-x86_64-linux:
    runs-on: blacksmith-8vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@v15
        with:
          name: n1
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix flake check

  build-aarch64-linux:
    runs-on: blacksmith-16vcpu-ubuntu-2204-arm
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@v15
        with:
          name: n1
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix flake check

  build-aarch64-darwin:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@v15
        with:
          name: n1
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix flake check

  build-x86_64-darwin:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@v15
        with:
          name: n1
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix flake check
